# Include all CUDA source files
recursive-include src *.cu

# Include dummy binary files

# Linux dummy binary
recursive-include src *.so

# MacOS dummy binary
recursive-include src *.dylib

# Windows dummy binaries
recursive-include src *.dll
recursive-include src *.lib
recursive-include src *.exp

