# Include all CUDA source files
recursive-include src *.cu

# Include dummy binary files
recursive-include src *.so
recursive-include src *.dylib
recursive-include src *.dll
recursive-include src *.lib
recursive-include src *.exp

# Exclude subdirectories
recursive-exclude docs *
recursive-exclude examples *
recursive-exclude experiments *
recursive-exclude tests *

# Files to exclude
exclude README.md