{% extends "default/module.html.jinja2" %}

{% block header %}
<h1>🔧 Custom API for {{ module.name }}</h1>
{% endblock %}

{% block members %}
  {% set methods = [] %}
  {% set properties = [] %}
  {% set others = [] %}

  {% for member in cls.members %}
    {% if member.kind == "method" %}
      {% do methods.append(member) %}
    {% elif member.kind == "property" %}
      {% do properties.append(member) %}
    {% else %}
      {% do others.append(member) %}
    {% endif %}
  {% endfor %}

  <h2>Methods</h2>
  {{ self.render_members(methods) }}

  <h2>Properties</h2>
  {{ self.render_members(properties) }}

  <h2>Other Fields</h2>
  {{ self.render_members(others) }}
{% endblock %}
