{% extends "default/module.html.jinja2" %}
{% block title %}{{ module.modulename }}FSWLIB documentation{% endblock %}

{% block nav_members %}
    {% if module.members %}
        <h2>FSWLIB documentation</h2>

        {# METHODS #}
        {{ nav_members(module.members.values() | selectattr("kind", "equalto", "method")) }}

    {% endif %}
{% endblock %}
